<a href="https://colab.research.google.com/github/SARANYAVC/Python/blob/main/Driver_Data_Anaysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Driver Table Creation and Data Load from hdfs

In [ ]:
create database saranya;
use saranya;


CREATE EXTERNAL TABLE driver_info1 (
    driverId INT,
    name STRING,
    ssn STRING,
    location STRING,
    certified BOOLEAN,
    wage_plan STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
tblproperties(
"skip.header.line.count"="1"
);

In [ ]:
LOAD DATA local INPATH 'drivers.csv' OVERWRITE INTO TABLE driver_info1;

Timeshet table creation and data load

In [ ]:

use saranya;
CREATE EXTERNAL TABLE timesheet_data1 (
    driverId INT,
    week INT,
    hours_logged DOUBLE,
    miles_logged DOUBLE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;
tblproperties(
"skip.header.line.count"="1"
);


LOAD DATA local INPATH 'timesheet.csv' OVERWRITE INTO TABLE timesheet_data1;

Q1.How many total hours and miles logged by each driver

In [ ]:

SELECT
    t.driverId,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId;

Q2.Print the name of the driver in the above query

In [ ]:

SELECT
    t.driverId,
    d.name,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId, d.name;

Q3.Write the above query output in to hdfs director

In [ ]:
INSERT OVERWRITE DIRECTORY '/user/avulaaruser1/driverinfoquery1'
SELECT
    t.driverId,
    d.name,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId, d.name;