<a href="https://colab.research.google.com/github/SARANYAVC/Python/blob/main/Facebook_data_analysis_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
CREATE TABLE facebook (
    userid INT,
    age INT,
    dob_day INT,
    dob_year INT,
    dob_month INT,
    gender STRING,
    tenure INT,
    friend_count INT,
    friendships_initiated INT,
    likes INT,
    likes_received INT,
    mobile_likes INT,
    mobile_likes_received INT,
    www_likes INT,
    www_likes_received INT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

# New Section

In [ ]:

LOAD DATA local INPATH 'pseudo_facebook.csv' OVERWRITE INTO TABLE facebook;

Q1: Find out the total no of users in the database

In [ ]:
SELECT COUNT(*) AS total_users FROM facebook;

Q2: Find out the no of users above the age of 25

In [ ]:

SELECT COUNT(*) AS users_above_25 FROM facebook WHERE age > 25;

Q3: Do male face book users tend to have more friends or female users

In [ ]:
SELECT gender,AVG(friend_count) AS average_friend_count FROM facebook GROUP BY gender;

Q4: How many likes do young people receive on facebook as opposed to old people

In [ ]:

SELECT age_group,SUM(likes_received) AS total_likes_received FROM (SELECT CASE WHEN age < 30 THEN 'Young' ELSE 'Old' END

Q5: Find out the count of facebook users for each birthday month

In [ ]:
SELECT dob_month, COUNT(*) AS user_count FROM facebook GROUP BY dob_month ORDER BY dob_month;

Q6: Do young members use mobile phones or computers for facebook browsing

In [ ]:
WITH age_device AS (
    SELECT
        CASE
            WHEN age < 30 THEN 'Young'
            ELSE 'Old'
        END AS age_group,
        CASE
            WHEN mobile_likes > 0 THEN 'Mobile'
            ELSE 'Computer'
        END AS device_type
    FROM facebook
)
SELECT
    age_group,
    device_type,
    COUNT(*) AS user_count
FROM age_device
GROUP BY age_group, device_type;


Q7: Do adult members use mobile phones or computers for facebook browsing

In [ ]:
SELECT
    age_group,
    device_type,
    COUNT(*) AS user_count
FROM (
    SELECT
        CASE WHEN age >= 18 THEN 'Adult' ELSE 'Not Adult' END AS age_group,
        CASE WHEN mobile_likes > 0 THEN 'Mobile' ELSE 'Computer' END AS device_type
    FROM facebook
) subquery
GROUP BY age_group, device_type;